{% extends "layout.twig" %}

{% block content %}
<div class="content">
    <h1>Welcome to {{ name }}</h1>
    <p>You have successfully installed the versyx framework.</p>
    <p>🎉 Happy coding 🎉</p>
    
    <div>
        <a href="https://github.com/versyxdigital/versyx">GitHub</a> <a href="https://versyx.dev">Website</a>
    </div>

    <img src="{{ asset({file: 'versyx.png'}) }}">
</div>
{% endblock %}