<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="{{ asset({file: 'app.min.css'}) }}">

    <title>{{ title }}</title>
    {% block additional_styles %}{% endblock %}
</head>
<body>

<main>
    {% block content %}{% endblock %}
</main>
<script type="text/javascript" src="{{ asset({file: 'app.min.js'}) }}"></script>
{% block additional_scripts %}{% endblock %}
</body>
</html>
