.idea
.vscode

node_modules
vendor

.env
storage/logs/*
storage/session/*
public/cache/*
public/css
public/images
public/js
public/webfonts
public/*.png
public/*.ico
public/*.xml
public/*.json

!/storage/logs/.gitkeep
!/storage/session/.gitkeep
!/public/cache/.gitkeep