html {
  color: #6c6c6c;
  font-size: 14px;
  line-height: 1.4;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

hr {
  border-top: 1px dotted #8c8b8b;
  border-bottom: 1px dotted #fff;
  margin-top: 60px;
  margin-bottom: 60px;
}

a {
  color: #f05340;
  text-decoration: none;
}

table {
  width: 100%;
  border-spacing: 0;
}

th, td {
  padding: 8px;
  vertical-align: middle;
  text-align: left;
}

table tr {
  th, td {
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding: 5px;
  }

  th:first-child, td:first-child {
    border-left: 1px solid transparent;
  }

  &:first-child th {
    &:first-child {
      border-top-left-radius: 6px;
    }

    &:last-child {
      border-top-right-radius: 6px;
    }
  }

  &:last-child td {
    &:first-child {
      border-bottom-left-radius: 6px;
    }

    &:last-child {
      border-bottom-right-radius: 6px;
    }
  }
}

th.column-header {
  color: #ffffff;
  background: #373737;
  padding-top: 10px;
  padding-bottom: 10px;
}

table tr {
  &:nth-child(even) {
    background-color: #f5f5f5;
  }

  &:hover {
    background-color: #ddd;
  }

  &:last-child td {
    &:first-child {
      border-bottom-left-radius: 10px;
    }

    &:last-child {
      border-bottom-right-radius: 10px;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

pre > code {
  padding: 0.8rem;
  font-size: 0.9rem;
  line-height: 1.45;
}

code {
  background: #F0F0F0;
  border-radius: 0.3rem;
  padding: 0.2rem;
}

button:hover, a:hover {
  cursor: pointer;
}

::-moz-selection, ::selection {
  background: #b3d4fc;
  text-shadow: none;
}