#content-wrapper {
  min-height: 100%;
}

#content {
  overflow-x: hidden;
}

.container {
  width: 90%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.container-fluid {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

#logo {
  float: left;
  font-size: 26px;
  line-height: 29px;
  font-weight: 700;
  border-radius: 3px;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 4px 12px;
}

#splash {
  margin-top: 60px;
  margin-bottom: 60px;

  h1 {
    font-weight: 700;
    font-size: 1.3em;
    color: #363636;
    margin: 0;
  }

  h3 {
    font-weight: 100;
    font-size: 0.9em;
    color: #505050;
    margin: 0;
  }
}

.photo {
  width: 40%;
}

.blurb {
  letter-spacing: 0.5px;
  margin-bottom: 50px;

  .blurb-header {
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
    position: relative;
    padding-bottom: 40px;

    &:after {
      content: " ";
      position: absolute;
      left: 0;
      bottom: 20px;
      width: 30px;
      height: 1px;
      background-color: #d3d3d3;
    }
  }

  .blurb-content .list {
    padding: 0;
    list-style: none;
  }

  .blurb-content a {
    display: table;
    text-decoration: none;
    border-bottom: 1px dotted #a8a8a8;
  }
}

.trumbowyg-box, .trumbowyg-editor {
    margin: 0 auto;
}

.love {
  color: $danger;
  &:hover {
    color: #f05340;
  }
}

#footer {
  position: relative;
  width: 100%;
  margin-top: -50px;
  height: 50px;
  line-height: 50px;
  clear: both;
  text-align: center;
  border-top: 1px solid #ebebeb;
  overflow: hidden;
}

@include media-breakpoint-up(md) {
  #splash {
    margin-top: 120px;
    margin-bottom: 120px;
  
    h1 {
      font-size: 3em;
      font-weight: 200;
    }

    h3 {
      font-weight: 100;
      font-size: 1.75em;
    }
  }
  .photo {
    width: 28%;
  }
}