#page-header {
  margin-top: 60px;
  margin-bottom: 60px;

  h1 {
    color: #373737;
    font-weight: 100;
    font-size: 3rem;
    margin: 0;
  }

  h3 {
    font-weight: 400;
    font-size: 24px;
    margin: 0;
  }
}

.header {
  position: relative;
  border-bottom: 1px solid #ebebeb;

  &:before {
    content: " ";
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: #fafafa;
  }

  &:after {
    content: " ";
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 1px;
    background-color: #fefefe;
  }
}

.sub-header {
  font-size: 10px;
  color: #a8a8a8;
  vertical-align: middle;
}

.header {
  .menu {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    float: left;
    margin: 0 0 0 30px;

    li {
      float: left;
      margin-top: 8px;
      line-height: 29px;

      a {
        display: block;
        color: rgb(108, 108, 108);
        text-align: center;
        font-weight: 600;
        padding: 16px;
        text-decoration: none;
        transition: 0.3s;

        &:hover {
          color: #373737;
        }
      }
    }

    .active {
      color: #f05340;
      border-bottom: 1px solid #f05340;
    }
  }

  .contact {
    float: right;
    margin: 0;
    height: 70px;
    font-size: 0;

    li {
      display: inline;
      list-style-type: none;
      font-size: 30px;
      line-height: 70px;
      margin-left: 6px;

      a {
        display: inline-block;
        line-height: 1;
        padding: 6px;
        transition: color 100ms ease;
        color: #373737;

        &:hover, &:active {
          color: #373737;
        }
      }
    }
  }
}

h4.somewhat-big {
  margin: 0;
  line-height: 1;
  font-size: 18px;
  font-weight: 600;
}

h6.kinda-small {
  margin: 0;
  margin-bottom: 25px;
  font-size: 13px;
  font-weight: 400;
}