@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.content {
    max-width: 500px;
    text-align: center;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    filter: drop-shadow(2px 4px 6px #cccccc);

    h1 {
        font-weight: 400;
        color: #3A617F;
        margin-top: 0;
    }

    p {
        font-size: 0.95em;
        margin-top: 0;
    }

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    img {
        max-width: 100%;
        margin-top: 20px;
        border-radius: 1%;
        filter: drop-shadow(2px 4px 6px #9d9d9d);
    }
}