{% extends "layout.twig" %}

{% block additional_styles %}
{% endblock %}

{% block content %}
    <div id="content" class="container">
        <div id="splash">
            <h1 id="main_heading">404.</h1>
            <h3 id="main_subheading">This page does not exist :(</h3>
            <p>
                Please click <a href="/">here</a> to go back.
            </p>
        </div>
    </div>
{% endblock %}

{% block additional_scripts %}
{% endblock %}