{% extends "layout.twig" %}

{% block additional_styles %}
{% endblock %}

{% block content %}
    <div id="content" class="container">
        <div id="splash">
            <h1 id="main_heading">500.</h1>
            <h3 id="main_subheading">An unexpected error has occurred :(</h3>
            {% if debug and trace is not null %}
                <hr>
                <h4 id="main_subheading">Debug:</h4>
                <div class="debug-exception-container">
                    <header class="debug-exception">{{ error }}</header>
                    <pre class="trace">
                        {{ trace }}
                    </pre>
                </div>
                <hr>
            {% endif %}
            <p>
                Please click <a href="/">here</a> to go back.
            </p>
        </div>
    </div>
{% endblock %}

{% block additional_scripts %}
    <script>
        let p = document.querySelector(".trace");
        p.textContent = p.textContent.replace(/^\s+/mg, "");
    </script>
{% endblock %}